// project less root

#app {
    .color(@black);
    background-color: @bg-color;
}

.m-container {
    .pl(240px);
    background-color: #fff;

    .m-aside {
        .pf;
        .size(240px,100%);
        .lt(0);
        .z(9);
        background-color: @bg-color;
        flex-shrink: 0;
        border-right: @line;
    }

    .m-main {
        box-sizing: border-box;
        padding: 70px 30px 40px 30px;
        background-color: #fff;
        overflow: auto;
        min-width: 1280px;
        .m-title {
            .pf;
            .rt(0,0);
            .z(8);
            .color(#555);
            .fz(18px,2);
            .size(100%,76px);
            border-bottom: @line;
            background-color: #f5f8f9;
            .u-title-txt {
                .flex;
                align-items: center;
                gap: 10px;
                padding: 20px 20px 20px 280px;
            }

            .u-title-icon {
                .w(24px);
            }
            &::after {
                content: "";
                .pa;
                .lb(0,-20px);
                .size(100%,19px);
                background-color: #fff;
            }
        }
    }
}

// .m-main .m-title {
//     .db;
//     .flex;
//     .size(100%,50px);
//     .fz(18px,50px);
//     .color(#454549);
//     padding: 10px 20px;
//     gap: 10px;
//     align-items: center;
//     border-bottom: @line;
//     background-color: #f5f8f9;
// }

.m-search-box {
    .flex;
    justify-content: space-between;
    align-items: center;
    .m-searchBar {
        .w(50%);
    }
    .u-add {
        .h(40px);
        .pl(30px);
        .pr(30px);
    }
}

.m-search-box,
.m-table {
    .mt(20px);
}

.m-pagination {
    .mt(40px);
}
