.m-roles {
    .m-content {
        .pt(20px);

        h4 {
            .flex;
            .size(100%,60px);
            gap: 20px;
            align-items: center;
            border-bottom: 1px solid #ddd;
            .el-button + .el-button {
                .ml(0);
            }
        }
        .m-tree {
            padding: 20px;
            .fz(16px);
            .el-tree-node__content {
                .h(40px);
            }
            .custom-tree-node {
                .h(40px);
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 8px;
                .u-button {
                    .none;
                }
                &:hover {
                    .u-button {
                        .dbi;
                        .u-add {
                            .color(#66b1ff,#409eff);
                        }
                        .u-del {
                            .color(#f56c6c,#cf0a0a);
                        }
                    }
                }
            }
        }
        .m-button {
            .flex;
            .pt(20px);
            padding: 40px;
            gap: 50px;
            .el-button {
                .size(120px,46px);
                .fz(16px);
                letter-spacing: 4px;
            }
        }
    }
}
